<h1> <strong class="ml-3 fs-2 ">Raw Data</strong></h1>

<div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Pre Placement Campaign</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Internship</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Logic Building</span></label>

    <section id="content1" class="tab-content">
        <table class="fixed_header table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Email Id</th>
                    <th>College Name</th>
                    <th>Qualification</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raj</td>
                    <td>9028775143</td>
                    <td>raj@gmail.com</td>
                    <td>MITWPU</td>
                    <td>MCA(Science)</td>
                </tr>
                <tr>
                    <td>Pratik</td>
                    <td>8823576421</td>
                    <td>pratik@gmail.com</td>
                    <td>NMU</td>
                    <td>BSc</td>
                </tr>
                <tr>
                    <td>Vaibhav</td>
                    <td>9673969901</td>
                    <td>vaibhav@gmail.com</td>
                    <td>COEP</td>
                    <td>BE(Computer)</td>
                </tr>
                <tr>
                    <td>Ashwini</td>
                    <td>8459313250</td>
                    <td>ashu@gmail.com</td>
                    <td>Cummins</td>
                    <td>BCA</td>
                </tr>
                <tr>
                    <td>Anuradha</td>
                    <td>9923171521</td>
                    <td>anuradha@gmail.com</td>
                    <td>Bhartiya Vidhyapeet</td>
                    <td>BSc(Electronics)</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="content2" class="tab-content">
        <table class="fixed_header table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Email Id</th>
                    <th>College Name</th>
                    <th>Qualification</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kalpesh</td>
                    <td>8421025606</td>
                    <td>Kalpesh@agmail.com</td>
                    <td>DY Patil</td>
                    <td>BE</td>
                </tr>
                <tr>
                    <td>Aniket</td>
                    <td>9923308367</td>
                    <td>aniket@gmail.com</td>
                    <td>Modern College</td>
                    <td>MCA</td>
                </tr>
                <tr>
                    <td>Gaurav</td>
                    <td>8080423728</td>
                    <td>gaurav@gmail.com</td>
                    <td>FC College</td>
                    <td>BCA</td>
                </tr>
                <tr>
                    <td>Akash</td>
                    <td>8425671421</td>
                    <td>akash@gmail.com</td>
                    <td>PO Nahata College</td>
                    <td>BSc(Maths)</td>
                </tr>
                <tr>
                    <td>Kiran</td>
                    <td>9023881213</td>
                    <td>kiran@gmail.com</td>
                    <td>DY Patil</td>
                    <td>BE(Stats)</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="content3" class="tab-content">
        <table class="fixed_header table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Email Id</th>
                    <th>College Name</th>
                    <th>Qualification</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ganesh</td>
                    <td>7038157582</td>
                    <td>ganesh@gmail.com</td>
                    <td>MITWPU</td>
                    <td>MSc</td>
                </tr>
                <tr>
                    <td>Omkar</td>
                    <td>9518779290</td>
                    <td>omkar@gmail.com</td>
                    <td>Lokamanya Tilak College</td>
                    <td>BSc(Maths)</td>
                </tr>
                <tr>
                    <td>Ashutosh</td>
                    <td>7057393255</td>
                    <td>ashutosh@gmail.com</td>
                    <td>MITWPU</td>
                    <td>MCA</td>
                </tr>
                <tr>
                    <td>Sujeet</td>
                    <td>7776002863</td>
                    <td>sujjet2gmail.com</td>
                    <td>SP College</td>
                    <td>BCA</td>
                </tr>
                <tr>
                    <td>Vishal</td>
                    <td>7767034531</td>
                    <td>vishal@gmail.com</td>
                    <td>Modern College</td>
                    <td>MSc</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>