#sec1 {
    background: rgb(238, 174, 202);
    background: radial-gradient( circle, rgba(238, 174, 202, 1) 7%, rgba(148, 187, 233, 1) 92%);
}

#card1 {
    border-radius: 1rem;
    background-color: white;
}

img {
    border-radius: 1rem 0 0 1rem;
}

button {
    background-color: royalblue;
}